body {
  background: url("kirjasto/muutkuvatjavideot/Taustakuvat/tumma.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

.sisalto {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 20px;
  padding-bottom: 200px;
}

h1 {
  color: rgb(0, 94, 255);
  font-size: 4em;
  padding-top: 0.5em;
  font-style: italic;
}

h2 {
  color: rgb(0, 98, 255);
  font-size: 3em;
  padding-top: 0.5em;
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: rgb(230, 230, 230);
}

h4 {
  text-align: center;
  color: rgb(230, 230, 230);
}

h6 {
  font-size: 1.1em;
  padding-top: 3em;
  color: rgb(230, 230, 230);
}

p {
  color: rgb(230, 230, 230);
  font-size: 1.4em;
}

.boxDark {
  height: 100%;
  width: 100%;
}

.img1 {
  width: 155px;
  height: 60px;
  opacity: 1;
  background-color: rgb(160, 160, 160);
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img1:hover {
  background-color: rgb(255, 255, 255);
}

.img2 {
  width: 120px;
  height: 60px;
  opacity: 1;
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img2:hover {
  border-radius: 10%;
  border-color: rgba(180, 180, 180);
  border-style: solid;
}

.img3 {
  width: 120px;
  height: 60px;
  opacity: 1;
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img3:hover {
  border-radius: 10%;
  border-color: rgba(180, 180, 180);
  border-style: solid;
}

.img1Kapea {
  width: 135px;
  height: 50px;
  background-color: rgb(160, 160, 160);
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img1Kapea:hover {
  background-color: rgb(255, 255, 255);
}

.img2Kapea {
  width: 100px;
  height: 50px;
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img2Kapea:hover {
  border-radius: 10%;
  border-color: rgba(180, 180, 180);
  border-style: solid;
}

.img3Kapea {
  width: 100px;
  height: 50px;
  border-style: outset;
  border-radius: 5%;
  border-color: rgb(179, 179, 179);
}

.img3Kapea:hover {
  border-radius: 10%;
  border-color: rgba(180, 180, 180);
  border-style: solid;
}

.sivukuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px ridge rgb(75, 75, 75);
  border-top: 3px ridge rgb(75, 75, 75);
  opacity: 1;
}

.profiilikuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  border: 5px double rgb(0, 0, 0);
  opacity: 1;
  background-color: rgba(12, 12, 12, 0.9);
}
.profiilikuva1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  border: 5px double rgb(0, 0, 0);
  opacity: 1;
  background-color: rgba(12, 12, 12, 0.9);
}

.bg-custom {
  background-color: rgba(12, 12, 12, 0.92);
  height: 150px;
}

.vari {
  background-color: rgba(33, 33, 33, 0.93);
  border-color: rgba(12, 12, 12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow-x: hidden;
}

#etusivuTeksti {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  text-overflow: none;
}

.containerFluid {
  background-image: url("kirjasto/muutkuvatjavideot/Taustakuvat/tumma.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* The sidebar menu */
.sidebar {
  height: 80%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  top: 1;
  left: 0;
  bottom: 0;
  border-top-right-radius: 5px;
  background-color: rgba(13, 13, 13, 0.96); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(230, 230, 230);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgba(0, 94, 255);
  background-color: rgb(30, 30, 30);
}

.openbtn {
  font-size: 50px;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0);
  color: rgb(230, 230, 230);
  padding: 10px 15px;
  margin-top: 25px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(31, 31, 31);
}

video {
  width: 100% !important;
  height: auto !important;
}

.embed-responsive-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*kuvien kokojen vaihtoa*/
@media only screen and (max-width: 700px) {
  .sivukuva {
    width: 410px;
    height: 140px;
  }
  .profiilikuva {
    width: 300px;
    height: 250px;
  }
  .profiilikuva1 {
    width: 410px;
    height: 250px;
  }
}
@media only screen and (min-width: 700px) {
  .sivukuva {
    width: 500px;
    height: 175px;
  }
  .profiilikuva {
    width: 330px;
    height: 280px;
  }
  .profiilikuva1 {
    width: 440px;
    height: 280px;
  }
}

@media only screen and (min-width: 1350px) {
  .sivukuva {
    width: 700px;
    height: 250px;
  }
  .profiilikuva {
    width: 380px;
    height: 320px;
  }
  .profiilikuva1 {
    width: 490px;
    height: 320px;
  }
}

@media only screen and (min-width: 1600px) {
  .sivukuva {
    width: 900px;
    height: 300px;
  }
  .profiilikuva {
    width: 430px;
    height: 380px;
  }
  .profiilikuva1 {
    width: 540px;
    height: 380px;
  }
}
@media only screen and (min-width: 1900px) {
  .sivukuva {
    width: 1200px;
    height: 400px;
  }
  .profiilikuva {
    width: 480px;
    height: 430px;
  }
  .profiilikuva1 {
    width: 590px;
    height: 430px;
  }
}

/*sisältö tekstien sovittamista*/

@media only screen and (max-width: 700px) {
  #etusivuTeksti {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 700px) {
  #etusivuTeksti {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  #etusivuTeksti {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1300px) {
  #etusivuTeksti {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  #etusivuTeksti {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
  }
}
