body {
  background: url("kirjasto/muutkuvatjavideot/Taustakuvat/vaalea.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

.sisalto {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 20px;

  padding-bottom: 200px;
}

h1 {
  color: blue;
  font-size: 4em;
  padding-top: 0.5em;
  font-style: italic;
}

h2 {
  color: blue;
  font-size: 3em;
  padding-top: 0.5em;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h6 {
  font-size: 1.1em;
  padding-top: 3em;
}

p {
  color: black;
  font-size: 1.4em;
}

.boxDark {
  height: 100%;
  width: 100%;
}

.img1 {
  width: 145px;
  height: 95px;
  padding-bottom: 30px;
}

.img2 {
  width: 120px;
  height: 60px;
}

.img3 {
  width: 120px;
  height: 60px;
}

.sivukuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px ridge rgb(180, 180, 180);
  border-top: 3px ridge rgb(180, 180, 180);
}

.profiilikuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  border: 5px double black;
}
.profiilikuva1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  border: 5px double black;
}

.bg-custom {
  background-color: rgba(255, 255, 255, 0.9);
  height: 150px;
}

.bg-white {
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: 300px;
}

.bg-light {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  overflow-x: hidden;
}

#etusivuTeksti {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  text-overflow: none;
}

.containerFluid {
  background-image: url("kirjasto/muutkuvatjavideot/Taustakuvat/vaalea.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* The sidebar menu */
.sidebar {
  height: 80%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  top: 1;
  left: 0;
  bottom: 0;
  border-top-right-radius: 5px;
  background-color: rgb(255, 250, 250, 0.98); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #333333;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #1e10d6;
  background-color: rgb(225, 225, 225);
}

.openbtn {
  font-size: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin-top: 25px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(225, 225, 225);
}

video {
  width: 100% !important;
  height: auto !important;
}

.embed-responsive-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*kuvien kokojen vaihtoa*/
@media only screen and (max-width: 700px) {
  .sivukuva {
    width: 420px;
    height: 140px;
  }
  .profiilikuva {
    width: 300px;
    height: 250px;
  }
  .profiilikuva1 {
    width: 410px;
    height: 250px;
  }
}
@media only screen and (min-width: 700px) {
  .sivukuva {
    width: 500px;
    height: 175px;
  }
  .profiilikuva {
    width: 330px;
    height: 280px;
  }
  .profiilikuva1 {
    width: 440px;
    height: 280px;
  }
}

@media only screen and (min-width: 1350px) {
  .sivukuva {
    width: 700px;
    height: 250px;
  }
  .profiilikuva {
    width: 380px;
    height: 320px;
  }
  .profiilikuva1 {
    width: 490px;
    height: 320px;
  }
}

@media only screen and (min-width: 1600px) {
  .sivukuva {
    width: 900px;
    height: 300px;
  }
  .profiilikuva {
    width: 430px;
    height: 380px;
  }
  .profiilikuva1 {
    width: 540px;
    height: 380px;
  }
}
@media only screen and (min-width: 1900px) {
  .sivukuva {
    width: 1200px;
    height: 400px;
  }
  .profiilikuva {
    width: 480px;
    height: 430px;
  }
  .profiilikuva1 {
    width: 590px;
    height: 430px;
  }
}

/*sisältö tekstien sovittamista*/

@media only screen and (max-width: 700px) {
  #etusivuTeksti {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 700px) {
  #etusivuTeksti {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  #etusivuTeksti {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1300px) {
  #etusivuTeksti {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  #etusivuTeksti {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
  }
}
